*{
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 20px;
    cursor: crosshair;
}

body {
    background-image: url('../fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

main{
    margin: 100px;
}
main > h1{
    margin: auto;
    padding: auto;
    text-align: center;
    width: 400px;
    color: #77e913;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    font-size: 4rem;
}

#soundoff:hover{
    background-color: rgb(194, 191, 191);
    color: black;
    cursor: grab;
}
#soundon:hover{
    background-color: rgb(194, 191, 191);
    color: black;
    cursor: grab;
}
#soundoff{
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 210px;
    border-radius: 100%;
    background-color: #f30000;
    
}
#soundon{
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 100px;
    border-radius: 100%;
    border-bottom-color: #77e913;
    background-color: #428606;
    

}

.menu-game {
    margin: auto;
    padding: auto;
    width: 1000px;
    text-align: center;
}

#formulario{
    display:flex;
    justify-content: center;
    margin: 30px;
    padding: 30px;
    
}

#formulario > label{
    color: #428606;
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(255, 255, 255), 1px 0 rgb(0, 0, 0), 0 -1px rgb(253, 253, 253);
    font-weight: bold;
    font-size: 1.6rem;
    width: 120px;
    text-align: start;
    
}

#name{
    margin-left: 100px;
    width: 300px;
    color: white;
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: transparent;
    border-style: double;
    border-color: white;
}

#button:hover{
    background-color: #77e913;
    cursor: grab;
}
#button{
    margin: 30px;
    padding: 40px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 30px;
    font-weight: bold;
}


#game-board{
    text-align: center;
}

#titulos{
    display: flex;
    justify-content: space-around;
}
.datos,
.vidas,
#restart {
    color: brown;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 25%;
}


#canvas {
    border: 2px solid #77e913;
}


#restart{
    font-size: 1.3rem;
    cursor: grab;
}

#coins,
#maquina {
    position: absolute;
    left: 700px;
    top: 120px;
}