*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 20px;
    
}

body{
    background-image: url("/imagenes/maxresdefault_3ddb.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    margin: 100px;
}

h1{
    margin: auto;
    padding: auto;
    text-align: center;
    width: 400px;
    color: #77e913;
    font-size: 4rem;
}

p{
    padding: 35px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: #244209;
       
}

.menu-game {
    margin: 50px;
    padding: 50px;
    background-color: white;
    text-align: center;
}

#formulario{
    display: flex;
    align-items: center;
    text-align: end;
    height: 40px;
    background-color: rgb(146, 116, 116);
}