* {
  margin: 0;
  padding: 0;
}

body {
  
  background-image: "../imagenes/pantallainicio.jpg";
  margin: 4%;
}

canvas {
  border: 2px solid rgb(211, 6, 6);
}

/* div+++++++++canavas */
#game-board {
}
.canvas-oculto {
 
}
/* canvas+++++++++canvas */
#canvas {
}
/* ++++++++++++++++++++++ */
